<h1>Listing datavalues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Fieldtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datavalues.each do |datavalue| %>
  <tr>
    <td><%= datavalue.name %></td>
    <td><%= datavalue.value %></td>
    <td><%= datavalue.fieldType %></td>
    <td><%= link_to 'Show', datavalue %></td>
    <td><%= link_to 'Edit', edit_datavalue_path(datavalue) %></td>
    <td><%= link_to 'Destroy', datavalue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datavalue', new_datavalue_path %>
