<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datavalue.name %>
</p>

<p>
  <b>Value:</b>
  <%= @datavalue.value %>
</p>

<p>
  <b>Fieldtype:</b>
  <%= @datavalue.fieldType %>
</p>


<%= link_to 'Edit', edit_datavalue_path(@datavalue) %> |
<%= link_to 'Back', datavalues_path %>
