<h1>Listing datafields</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fieldtype</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @datafields.each do |datafield| %>
  <tr>
    <td><%= datafield.name %></td>
    <td><%= datafield.fieldType %></td>
    <td><%= link_to 'Show', datafield %></td>
    <td><%= link_to 'Edit', edit_datafield_path(datafield) %></td>
    <td><%= link_to 'Destroy', datafield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Datafield', new_datafield_path %>
