<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @datafield.name %>
</p>

<p>
  <b>Fieldtype:</b>
  <%= @datafield.fieldType %>
</p>


<%= link_to 'Edit', edit_datafield_path(@datafield) %> |
<%= link_to 'Back', datafields_path %>
